body {
    background: #0575E6;
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);
    background: linear-gradient(to right, #021B79, #0575E6);
}

img {
    background-color: transparent;
    mix-blend-mode: color-burn;
}

button{
    background-color: transparent;
}