
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');


body {
    background: #3A1C71;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
}
h1{
    font-family: 'bangers', cursive;
    font-weight: 500;
}

.bi-arrow-down-circle {
    width: 50px; /* Establece el ancho del SVG */
    height: 50px; /* Establece la altura del SVG */
}  

img {
    background-color: transparent;
    mix-blend-mode: color-burn;
}

button{
    background-color: transparent;
    font-size: 24px;
    padding: 15px 20px;
    margin-bottom: 30px;
}